version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: codeaspire-backend
    ports:
      - "5000:4000"
    env_file:
      - .env.production
    restart: always
